/* =================
  WRITE YOUR CSS HERE.
  Check the ⌄ for help with formatting and validating your code.
  You must write some CSS to complete this challenge.
   ===================
*/
html,
body {
  min-width: 290px;
  margin: 0;
  height: 100%;
  color: #4d4e53;
  background-color: pink;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.5;
}

#text{
  text-align: left;
  margin: 0px;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

#main {
   margin: 50px 0;
  text-align: center;
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  background: #eee;
}

#lable{
  color:black;
}
img{
  width:1000px;height:600px;
}
#contact{
  margin: 50px 0;
  text-align: left;
    padding: 15px;

}
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* don't edit this */
.jest-lite-report__status--pass {
  background: var(--color-pass);
}
.jest-lite-report__errors { display:none }
